    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>


</head>
<body style="background-color: #f2f2f2;  font-size: 14px; font-family: 'Open Sans';margin:0 auto">
    <article style="background-color: #f2f2f2;  padding-bottom: 30px; padding-top: 30px;">
        <table align="center" cellpadding="0" cellspacing="0" class="article" style=" margin: 0 auto;width: 570px; height: 400px;  box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);background: white;">
            <tr>
                <td class="header" style="width:570px; height: 80px; font-size: 40px; font-family: inherit;">
                    <img src={logo} border="0" style="width: 570px;" />
                </td>
            </tr>
            <tr>
                <td class="name" style="float: left;margin-left: 30px; margin-top: 54px; margin-bottom: 24px;">Hi, <b>{firstName} {lastName}</b></td>
            </tr>
            <tr style="float: left; padding-left: 30px; padding-right:30px; margin-bottom:46px;">
                <td >
                    <table>
                        <tr>
                            <td>
                                <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px; margin-bottom: 20px;">You next consultation with <b>{namepagerequest}</b> is scheduled on</p>

                                <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px; margin-bottom: 20px;background-color:#cccccc;padding-top: 10px; padding-bottom: 10px; text-align: center; font-size: 18px; font-weight: bold;" class="time_view">{datemeeting}<br>{timemeeting}</p>
                                <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px; margin-bottom: 20px;">If you are not able to keep this  appointment for any reason please contact us
                    ASAP via (813)693-1133 or email <a href="mailto: tciotti@4mgi.com" style="color: #208DEC;">tciotti@4mgi.com</a></p>
                                
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin-top: 20px;line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px; margin-bottom: 20px;">Regards,</p>
                                <b style="margin-bottom:10px; line-height: 26px; color: #414042; margin-top: 0;">The {namepagerequest} Team</b>
                                <p style="color: #fff;">The {namepagerequest} Team</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </article>
</body>
</html>
