<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>


</head>
<body style="background: #f2f2f2; font-size: 14px; font-family: 'Open Sans'; ">
    <article style=" background-color: #F2F2F2;padding-bottom: 30px; padding-top: 30px;">
        <table align="center" cellpadding="0" cellspacing="0" class="article" style="width: 570px;background-color:#fff;   margin:0 auto;">
            <tbody >
                <tr>
                    <td class="header" style="margin-left:30px;background:'{colorbackground}';background-image: url({background}); background-size: cover; height: 80px; font-size: 40px; font-family: inherit; margin-top: 2em;">
                        <img src="https://i.ibb.co/JBjvsXj/logo-MGI-solutions2.png" style="border-radius: 5px;width: 190px;  margin-left: 30px;  padding-top: 22px; padding-bottom: 22px;" class="img" alt="logo-MGI-solutions2" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="name" style="float: left;margin-left: 30px; margin-top: 54px; margin-bottom: 24px;">Hi, <b>{Name}</b></td>
                </tr>
                <tr style="float: left; padding-left: 30px; padding-right:30px; text-align:left;margin-bottom:46px;">
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px;">You recently request to reset your password for your account <b>MGI Schedule Plugin</b> account via <strong><a href="mailto: {email}">{email}</strong></a> </p>

                                    <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px;"><strong><a href="{rspass}" style="color: #208DEC;">Click Here</a></strong> to reset your password.</p>

                                    <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px;"> If you did not request a password reset, no futher action is required.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin-top: 20px;line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 5px;">Regards</p>
                                    <p style="line-height: 26px; color: #414042; margin-top: 0; margin-bottom: 10px;"><strong>The Fresher Team</strong></p>
                                    <p style="color: #fff;">The Fresher Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>

