@model System.Web.Mvc.HandleErrorInfo
@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page - Schedule Plugin</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Favicon/fav-icon-192x192-MGI.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Favicon/fav-icon-32x32-MGI.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Favicon/fav-icon-96x96-MGI.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Favicon/fav-icon-16x16-MGI.png">
    <link rel="manifest" href="~/Content/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default" id="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                @if (User.IsInRole("Administrator"))
                {
                    <a class="navbar-brand" href="/">
                        <img src="~/Content/Images/Logo_MGI.png" width="300px" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand" href="~/Admin/RedirectLink?iDpage=MGISolutions">
                        <img src="~/Content/Images/Logo_MGI.png" width="300px" />
                    </a>
                }
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row bodymain">
            <div class="col-xs-12 back" style="margin-top:20px">
                <h2>Oops! You have some problems</h2>
            </div>
            <div class=" col-xs-12 back">
                <p>The page you are looking for was moved, removed, renamed or might never existed</p>
            </div>
            <div class="col-xs-12 back">
                <h4>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="/">Back to HomePage</a>
                    }
                    else
                    {
                        <a href="~/Admin/RedirectLink?iDpage=MGISolutions">Back to HomePage</a>
                    }
                </h4>
            </div>
        </div>
    </div>
</body>
</html>
<style>
    body {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .bodymain::before {
        content: "";
        position: relative;
    }

    .bodymain::after {
        content: "404";
        position: absolute;
        font-size: 150px;
        font-weight: bold;
        text-align: center;
        color: rgba(112, 141, 220, 0.24);
        width: 100%;
        z-index: 0;
    }

    #nav {
        height: 90px;
        background-color: rgb(112,141,220);
    }

    h4 {
        border: 1px solid rgb(112,141,220);
        border-radius: 999999999px;
        padding: 10px 10px;
        display: inline-block;
        margin: 0 auto;
    }

    h2 {
        font-weight: bold;
        display: inline-block;
        margin: 15px auto;
    }

    .back p {
        display: inline-block;
        margin: 15px auto;
        text-align: center;
    }

    .back {
        display: inline-flex;
        top: 200px;
    }

        .back h4:hover {
            cursor: pointer;
            background-color: rgb(112,141,220);
        }

        .back h4 a {
            text-decoration: none;
            text-transform: uppercase
        }

        .back h4:hover a {
            color: white;
        }

        .back h4 a:hover {
            text-decoration: none;
            color: white;
        }
</style>