@{
    ViewBag.Title = "Password reset successful!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div style="font-size:16px; padding-top:50px;">
    <img style="padding-bottom: 1em;" width="100em" src="~/Content/Images/v-logo.png" />
    <p style="padding-top:50px;">
        An email message has been sent containing a link to reset the password.
    </p>
</div>
@Html.ActionLink(" Click here to return the login page", "Login", "Account", new { @class = "" })

