@{
    ViewBag.Title = "Password Reset Successful!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>Password reset successful!</h1>
</hgroup>
<div>
    <p style="font-size:16px;">
        You can sign in with your new password. @Html.ActionLink("Click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to return the login page
    </p>
</div>
