
@{
    ViewBag.Title = "Request Consultation";
    Layout = "~/Views/Shared/_LayoutNotification.cshtml";
}

<h4 class="@ViewData["class"]">@ViewData["message"]</h4> 

<style>
    .main{
        
    }
    h4 {
        text-align: center;
        min-height: 63vh !important;
    }
    .green{
        color: forestgreen;
    }
    .red{
        color: red;
    }
    footer {
        bottom:0;
    }
</style>
<script>
    //if($("h4").text() == "Require you consultation failed")) $(this).
</script>

